In [1]:
import pandas as pd 
data= pd.read_csv("spam.csv")
data.head()

,class,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [2]:
data.columns

Index(['class', 'message', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [3]:
data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)

In [4]:
data

     class                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will �_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [5]:
data['class']=data['class'].map({'ham':0,'spam':1})

In [6]:
data.head()

   class                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

C:\Users\Dell\anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.3)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [8]:
cv=CountVectorizer()

In [9]:
x=data['message']
y=data['class']

In [10]:
x.shape

(5572,)

In [11]:
y.shape

(5572,)

In [12]:
x=cv.fit_transform(x)

In [13]:
x

<5572x8625 sparse matrix of type '<class 'numpy.int64'>'
	with 73734 stored elements in Compressed Sparse Row format>

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=.2)

In [16]:
x_train

<4457x8625 sparse matrix of type '<class 'numpy.int64'>'
	with 58657 stored elements in Compressed Sparse Row format>

In [17]:
from sklearn.naive_bayes import MultinomialNB

In [18]:
model=MultinomialNB()

In [19]:

model.fit(x_train,y_train)

MultinomialNB()

In [20]:
result=model.score(x_test,y_test) 
result

0.9811659192825112

#

In [21]:
result=result*100

In [22]:
result

98.11659192825111

In [24]:
import pickle 
pickle.dump(model,open("spam.pkl","wb"))

In [25]:
pickle.dump(cv,open("vectorizer.pkl","wb"))

In [26]:
clf=pickle.load(open("spam.pkl","rb"))

In [27]:
clf

MultinomialNB()

In [28]:
msg="are you at class yet" 
data=[msg] 
vect=cv.transform(data).toarray()
result=model.predict(vect) 
print(result)

[0]

In [32]:
%%writefile spam.py 
import streamlit as st
import pickle  
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np 

from win32com.client import Dispatch

def speak(text):
	speak=Dispatch(("SAPI.SpVoice"))
	speak.Speak(text)


model = pickle.load(open('spam.pkl','rb'))
cv=pickle.load(open('vectorizer.pkl','rb'))


def main():
	st.title("Email Spam Classification Application")
	st.write("Build with Streamlit & Python")
	activites=["Classification","About"]
	choices=st.sidebar.selectbox("Select Activities",activites)
	if choices=="Classification":
		st.subheader("Classification")
		msg=st.text_input("Enter a text")
		if st.button("Process"):
			print(msg)
			print(type(msg))
			data=[msg]
			print(data)
			vec=cv.transform(data).toarray()
			result=model.predict(vec)
			if result[0]==0:
				st.success("This is Not A Spam Email")
				speak("This is Not A Spam Email")
			else:
				st.error("This is A Spam Email")
				speak("This is A Spam Email")
main()

Overwriting spam.py

In [30]:
!streamlit run spam.py

^C